{
    "data": {
        "type": "storageUnit",
        "attributes": {
            "name": "{{ msdp_cloud_stu_name }}",
            "useAnyAvailableMediaServer": false,
            "mediaServerDetails": [
                {
                    "name": "{{ msdp_cloud_stu_mediaservers }}"
                }
            ],
            "maxFragmentSizeMegabytes": 51200,
            "maxConcurrentJobs": "{{ msdp_cloud_stu_io }}",
            "onDemandOnly": true
        },
            "relationships": {
                "diskPool": {
                  "data": {
                    "type": "diskPool",
                    "id": "{{ msdp_cloud_stu_id }}"
                  }
                }
            }
      }
}