{
    "data": {
        "type": "apiKeyCreationRequest",
        "attributes": {
            "expireAfterDays": "{{ nbapikeylife }}",
            "userName": "{{ user }}",
            "userDomain": "{{ nbdomain }}",
            "userDomainType": "{{ nbdomaintype }}",
            "description": "{{ apikeydesc }}"
        }
    }
}
