{
  "data": {
    "id": "anisble-aws",
    "type": "plugininstance",
    "attributes": {
      "cloudpointHostname": "{{ nbu_cp_server }}",
      "configurationAttributes": [
        {
          "name": "configtype",
          "singlevalue": "keypair"
        },
        {
          "name": "regions",
          "multivalue": [
            "eu-west-1",
            "eu-west-2",
            "eu-west-3"
          ]
        },
        {
          "name": "accesskey",
          "singlevalue": "{{ aws_access_key }}"
        },
        {
          "name": "secretkey",
          "singlevalue": "{{ aws_secret_key }}"
        }
      ]
    }
  }
}