<?xml version="1.0" encoding="UTF-8" standalone="no" ?>
<XML_Install>
	<OpsCenter_Server>
		<InstallProperty Name="RAN_SETUP" Value="1" />
		<InstallProperty Name="SYMTMPPATH" Value="C:\Windows\Temp\Symantec\OpsCenter\" />
		<InstallProperty Name="TELEMETRY_UPLOAD" Value="YES" />
		<InstallProperty Name="INSTALLHTMLLOGPATH" Value="C:\ProgramData\SYMANTEC\OpsCenter\InstallLogs\OpsCenterServerInstallLog.htm" />
		<InstallProperty Name="BUSINESS_REP_LIC_KEYS" >
			<TagValue>ORZH-NIFB-7TPR-34EG-MO4O-4O4O-ZC6P-RPP3-PP2O-C</TagValue>
		</InstallProperty>
		<InstallProperty Name="INSTALLDIR" Value="C:\Program Files\Symantec\" />
		<InstallProperty Name="DATABASE_DATA_DIR" Value="C:\Program Files\Symantec\OpsCenter\Server\DB\Data\" />
	</OpsCenter_Server>
</XML_Install>


